<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>login</title>
    <style>
        body {
            font-family: Helvetica;
        }
    </style>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="POST">


        <label for="Email">Email<input type="text" name="email" placeholder="xyz@gmail.com" id="email"required></label>




        <label for="Password">Password<input type="text" name="password" id="Password" required></label>

        

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</body>

</html>